header
    .container
        .row.bannerLine.d-none.d-md-flex
            .bannerLine_block.col-2
                img(src="assets/img/banner-block-1.png")
            .bannerLine_block.col-2
                img(src="assets/img/banner-block-2.png")
            .bannerLine_block.col-2
                img(src="assets/img/banner-block-3.png")
            .bannerLine_block.col-4
                img(src="assets/img/banner-block-4.png")
            .bannerLine_block.bannerLine_block-href.col-2
                a.shop(href="#" alt="#") shop/cart
                .social
                    a.sprite.sprite-face(href="#" alt="#")
                    a.sprite.sprite-inst(href="#" alt="#")
                    a.sprite.sprite-twit(href="#" alt="#")
                    a.sprite.sprite-tube(href="#" alt="#")
                    a.sprite.sprite-search(href="#" alt="#")
                a.donate(href="#" alt="#") donate
        .row.justify-content-center
            button.hamburger.hamburger--slider.d-md-none(type='button')
                span.hamburger-box  
                    span.hamburger-inner
            nav.navigationHeader.d-md-block
                a.navigationHeader_href.go_to(href=".whatsOn") what`s on
                a.navigationHeader_href.go_to(href=".supportUs" alt="#") support us
                a.navigationHeader_href.go_to(href=".signWithUs" alt="#") sign with us
                a.navigationHeader_href.go_to(href=".video" alt="#") about us
                a.navigationHeader_href.go_to(href=".mediaa" alt="#") media
                a.navigationHeader_href.go_to(href=".contacts" alt="#") contact
   
        
        
  
            
