main
    section.slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="assets/img/slide1.jpg")
                    .text
                        p.title elgar 
                            br
                            | the dream of
                            br
                            | gerontius
                        p.description 400 signers perform Elgar`s monumental work under the stunning Sydney Opera House sails.
                        a.bookNow(href="#" alt="#") book now
                .swiper-slide
                    img(src="assets/img/slide1.jpg")
                    .text
                        p.title elgar 
                            br
                            | the dream of
                            br
                            | gerontius
                        p.description 400 signers perform Elgar`s monumental work under the stunning Sydney Opera House sails.
                        a.bookNow(href="#" alt="#") book now
                .swiper-slide
                    img(src="assets/img/slide1.jpg")
                    .text
                        p.title elgar 
                            br
                            | the dream of
                            br
                            | gerontius
                        p.description 400 signers perform Elgar`s monumental work under the stunning Sydney Opera House sails.
                        a.bookNow(href="#" alt="#") book now
            .swiper-button-prev
            .swiper-button-next
        .swiper-pagination
    .container
        section.whatsOn
            h1 what`s on
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title chorus oz best sing ever!
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title tudor portraits
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title nordic songs
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title elgar the dream of gerontius
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title songs of farewell music of rememberance
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title handel messian
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
        section.signWithUs
            h1 sign with us
            .row
                img.col-12.col-md-6(src="assets/img/whats-on-1.jpg", alt="")
                .whatsOnInfo.col-12.col-md-6
                    p.whatsOnInfo_title workshop / disvover sign with us
                    p.whatsOnInfo_description Workshop Saturday 10th and Sunday 11th June Performance Sunday 11th June, 5pm ConcertHall, Sydney Operea House Tickers: $75 plus booking fees
                    .whatsOnInfo_hrefs
                        a.moreInfo(href="#") more info
                        a.bookNow(href="#") book now
        section.video
            h1 our latest youtube video
            .row
                iframe.col-12(width='560', height='550', src='https://www.youtube.com/embed/O3uCdTCA0rA?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        section.supportUs
            .row
                .supportUs_block.col-12.col-md-4
                    h1 our shop
                    a(href="#")
                        img(src="assets/img/our-shop.jpg", alt="")
                .supportUs_block.col-12.col-md-4
                    h1 support us
                    a(href="#")
                        img(src="assets/img/support-us.jpg", alt="")
                .supportUs_block.h1Hide.col-12.col-md-4
                    h1 our shop
                    a(href="#")
                        img(src="assets/img/third-banner.jpg", alt="")
        section.mediaa
            h1 subscribe.
            .subscribeHref
                a.email(href="#") email
                a.signUp(href="#") sign up
        section.instagram
            h1 our instagram.
            .row
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-1.jpg", alt="")
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-2.jpg", alt="")
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-3.jpg", alt="")
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-4.jpg", alt="")
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-5.jpg", alt="")
                .instagram_photo.col-6.col-md-4.col-lg-2
                    a(href="#")
                        img(src="assets/img/insta-6.jpg", alt="")
            .social
                a.sprite.sprite-face(href="#" alt="#")
                a.sprite.sprite-inst(href="#" alt="#")
                a.sprite.sprite-twit(href="#" alt="#")
                a.sprite.sprite-tube(href="#" alt="#")
    